nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  padding: var(--m);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
}

nav h1 {
  margin: 0;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: var(--xxl);
  color: white;
}

nav ul li {
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

nav ul li:hover {
  color: lightgray;
  transform: scale(1.1);
}

.u-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main {
  width: 100%;
  margin-top: calc(var(--nav-height) + var(--xxxl));
}

main img {
  border-radius: 50%;
  max-width: 400px;
  width: 100%;
  animation: seesaw 4s infinite linear;
}

main img:hover {
  animation-play-state: paused;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes translate {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(200px);
  }

  75% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scale {
  50% {
    transform: scale(0.5);
  }
}

@keyframes seesaw {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(30deg);
  }

  75% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes translate-scale-seesaw {
  0% {
    transform: translateX(0) scale(1) rotate(0deg);
  }

  25% {
    transform: translateX(200px) scale(0.5) rotate(30deg);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: translateX(-200px) scale(0.5) rotate(-30deg);
  }

  100% {
    transform: translateX(0) scale(1) rotate(0deg);
  }
}

main section {
  margin-top: var(--xxxl);
  width: 100%;
  padding: var(--m);
}

.secret-button {
  border-radius: var(--s);
  border: none;
  color: black;
  background-color: lightgray;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.secret-button.show {
  font-size: 18px;
  padding: var(--m);
  /* animation: blink 4s infinite linear; */
}

.secret-button:hover {
  background-color: rgb(180, 180, 180);
}

/* .secret-button.show:hover {
  animation-play-state: paused;
}

@keyframes blink {
  0% {
    background-color: var(--primary--dim);
    color: white;
  }

  50% {
    background-color: gray;
  }

  100% {
    background-color: var(--primary--dim);
    color: white;
  }
} */

.secret-container {
  max-width: 300px;
  width: 100%;
  background-color: whitesmoke;
  border: 1px solid lightgray;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border-radius: var(--s);
  padding: var(--l);
}

.secret-container p {
  margin: 0 0 var(--l) 0;
  font-size: 24px;
}

.secret-button.hide {
  font-size: 16px;
  padding: var(--s) var(--l);
  width: 100%;
}

.hidden {
  display: none;
}
